<div class="container-fluid">
  

 <h3 class="text-white ps-5 mt-5"> {{data}}</h3>

  
  <div class="row">
  
  
    <div class=" col-lg-6 col-md-12 col-sm-12 col-12">
      
      <app-homecard></app-homecard>
  
  </div>
    
      <div class="container col-lg-6 col-md-12  col-sm-12">
        <input id="register_toggle" type="checkbox">
        <div class="slider">
          <form class="form">
            <span class="title text-white">LOGIN</span>
            <div class="form_control">
              <input (change)="acnoChange($event)" required="" class="input" type="text" [placeholder]="data1">
              <label id="u1" name="uname" class="label"></label>
            </div>
            <div class="form_control">
              <input (change)="pass($event)" required="" class="input" type="password">
              <label  id="p1" name="passW" class="label">Password</label>
            </div>
            <button (click)="login()">Login</button>
      
            <span class="bottom_text text-white">Don't have an account? <label class="swtich" for="register_toggle">Sign Up</label> </span>
          </form>
          <form class="form">
            <span class="title text-white">SIGN UP</span>
            <div class="form_control">
              <input required="" class="input" type="text">
              <label class="label">Account Number</label>
            </div>
            <div class="form_control">
              <input required="" class="input" type="email">
              <label class="label">Email</label>
            </div>
            <div class="form_control">
              <input required="" class="input" type="password">
              <label class="label">Password</label>
            </div>
            <button  >Sign Up</button>
      
            <span class="bottom_text text-white">Already have an account? <label class="swtich" for="register_toggle">Sign In</label> </span>
          </form>
      
          
          </div>
      </div>
    
    
    
  
  
  </div>
</div>