<h3 class="text-white"></h3>


<div class="row">

    <div class="col-lg-4 col-md-12 col-sm-12">

        <h2 class=" welcome mt-5">WELCOME {{user}}</h2>


    </div>


    <div class="col-lg-4 col-md-12 col-sm-12">

        <div class="card mt-4">
            <!-- <h2 class="mt-4" style="font-family: 'Crimson Text', serif;
            ">DEPOSIT</h2> -->
            <p style="color:rgba(255, 255, 255, 0.313);font-size: 15px;" class="mt-3">Add Money To Your Bank Account</p>
            <form class="dform" action="">
                <input class=" mb-3 " required="" type="number" placeholder="Enter Amount">
                <input class=" mb-3" required="" type="text" placeholder="">
                <input class=" mb-4" required="" type="text" placeholder="">
                <hr>
                <button class="dbtn btn btn-success fs-2 mt-3">DEPOSIT</button>
            </form>


        </div>

    </div>


    <div class="col-lg-4 col-md-12 col-sm-12">


        <div class="card mt-4 card2">
            <!-- <h2 class="mt-4" style="font-family: 'Crimson Text', serif;
            ">DEPOSIT</h2> -->
            <p style="color:rgba(255, 255, 255, 0.313);font-size: 15px;" class="mt-3 mb-4">Withdraw Money from Your Bank Account</p>
            <form class="dform" action="">
                <input class="d2 mb-3 " required="" type="number" placeholder="Enter Amount">
                <input class="d2 mb-3" required="" type="text" placeholder="">
                <input class="d2 mb-4" required="" type="text" placeholder="">
                <hr>
                <button class="dbtn btn btn-danger fs-2 mt-3">WITHDRAW</button>
            </form>


        </div>


    </div>

</div>