.card {
    width: 19rem;
    height: 26rem;
    background: #21212100;
    box-shadow: rgb(0, 0, 0) 10px 20px 30px, rgb(0, 0, 0) 10px 1px 53px 3px, rgb(1, 0, 0) 0px -1px 3px inset;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    user-select: none;
    font-weight: bolder;
    color: #fff;
  }
  
  .card:hover {
    transform: scale(1.021);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.1deg);
  }
  /* -----------------div-2----------------- */

  .welcome{
      text-transform: uppercase;
      color: #45feaf;
  }
.d2{
    border: 1px solid #c22410;

}
 

  /* ----------------------form-------------------- */

  input {
    /* width: 20rem; */
    height: 50px;
    padding: 0 16px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #229620;
    color: #f9f9f9;
    animation: shake_541 0.14s 3;
  }
  
  input:valid {
    border-color: #45feaf;
    animation: none;
  }
  
  @keyframes shake_541 {
    0%, 100% {
      translate: 0;
    }
  
    25% {
      translate: 8px 0;
    }
  
    75% {
      translate: -8px 0;
    }
  }
  .dform{
      display:grid;
      justify-content: center;
      margin-top: 10px;
  }
  .dbtn{
      font-weight: 800;
      font-family: 'Crimson Text', serif;
  }
  .wbtn{
  width: 17rem;
  height: 3.5rem;
  }