
<div class="container w-50 mt-2 p-3 text-center text-white " style="background-color: rgba(34, 107, 184, 0); font-size: 1em; border-radius: 20px;">

    <table class="text-center w-100">
        <thead>
            <tr>
                <th class="border">Type</th>
                <th class="border">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of transactionArray">
                <td class="border">{{i.type}}</td>
                <td class="border">{{i.amount}}</td>
            </tr>
           
        </tbody>
    </table>
</div>