<div class="row">


    <div class=" col-lg-6 col-md-12 col-sm-12">
        <app-registercard></app-registercard>

       

    </div>

    <div class="container col-lg-6 col-md-12  col-sm-12">
        <input id="register_toggle" type="checkbox">
        <div class="slider">
            <form class="form">
                <span class="title text-white">SIGNUP</span>
                <div class="form_control">
                    <input [(ngModel)]="uname" id="Ruser" name="uname" class="input" type="text"
                        placeholder="User Name">
                    <label class="label"></label>
                </div>
                <div class="form_control">
                    <input [(ngModel)]="acno" id="Raccno" name="uname" class="input" type="text"
                        placeholder="Account Number">
                    <label class="label"></label>
                </div>
                <div class="form_control">
                    <input [(ngModel)]="psw" id="Rpassw" name="passW" class="input" type="password"
                        placeholder="Password">
                    <label class="label"></label>
                </div>
                <button (click)="register()" type="submit" class="fs-5">Signup</button>

                <p class="text-white ">Already have an account ? <a class="text-info" style="text-decoration:none ;"
                        href=""> Login</a></p>

            </form>


        </div>

    </div>

</div>