<p class="text-white">register works!</p>

<div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 ">

        </div>
        
        <div class="col-lg-6 col-md-12 col-sm-12">
            <form class="form">
                <span class="title text-white">SIGN UP</span>
                <div class="form_control">
                  <input required="" class="input" type="text">
                  <label class="label">Account Number</label>
                </div>
                <div class="form_control">
                  <input required="" class="input" type="email">
                  <label class="label">Email</label>
                </div>
                <div class="form_control">
                  <input required="" class="input" type="password">
                  <label class="label">Password</label>
                </div>
                <button class="" >Sign Up</button>
          
                <span class="bottom_text text-white">Already have an account? <label class="swtich" for="register_toggle">Sign In</label> </span>
              </form>
    
        </div>
    </div>
</div>